@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/globals.css */
body {
    font-family: 'Gentium Basic', serif;
  }

h2,h1{
  color: #001F2B;
}  
h3{
  color: #001F2B;
}  

p{
  color: #001F2B ;
} 

label{
  color: #001F2B ;
} 

/* .glass{
 
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
} */

