@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
body {
 
}

h2,
h1 {
  color: #001f2b;
  font-family: "Gentium Basic", serif;
}
h3 {
  color: #001f2b;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #001f2b;
  font-family: 'Montserrat', sans-serif;

}

label {
  color: #001f2b;
  font-family: 'Montserrat', sans-serif;
}
.button {
  color: #001f2b;
  font-family: 'Montserrat', sans-serif;
}

.be-panel {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 60px !important;
  z-index: 1000 !important;
  pointer-events: auto;
}
@media (max-width: 768px) {
  .be-panel {
    display: none !important; /* Hide booking panel on mobile */
  }
}

/* .glass{
 
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
} */

@media screen and (min-width: 768px) {
  .imgemg {
    margin-top: 5rem !important;
  }
}

@media screen and (min-width: 2560px) {
     .winsize {
       padding: 0 20rem 0 20rem;
     }
}


button:hover{
    background-color: #d3b883;
    color: white;
  }
